.header {  background: #05969b;  width: 100%;  }
.header h1 {  margin: 0;  }
.header img {  padding-top: 13px;  width: 250px;  }
.navbar {  border-radius: 0;  border: none;  margin-bottom: 0;  }
.header .navbar-nav {  float: right;  width: 380px;  }
.header .navbar-default {  background: none;  }
.header .navbar-nav>li>a {  padding-top: 25px;  padding-bottom: 25px;  color: #fff;  font-family: 'Open Sans','Microsoft YaHei', sans-serif;  font-size: 16px;  }
.header .navbar-nav>li>a:hover, .header .navbar-nav>li>a.active {  color: #2FD828;  }
.header .navbar-header {  float: left;  }
.navbar-brand {  height: 0;  padding: 0;  }
.header .navbar-brand span {  margin-left: 12px;  }

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}
a.hvr-overline-from-center:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2FD828;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
a.hvr-overline-from-center:hover:before, a.hvr-overline-from-center:focus:before, a.hvr-overline-from-center:active:before {
    left: 0;
    right: 0;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.search-box {
    float: right;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.sb-search {
    position: absolute;
    right: 0;
    width: 0;
    min-width: 42px;
    margin-top: 14px;
    height: 40px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    z-index: 999;
}
.sb-icon-search, .sb-search-submit {
    width: 30px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 71px;
    text-align: center;
    cursor: pointer;
}
.sb-icon-search {
    background: #2FD828 url('../../images/search.png') no-repeat 3px 10px;
    z-index: 90;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.sb-search-input {
    position: absolute;
    top: 0;
    right: 3px;
    border: none;
    outline: none;
    background: #2FD828;
    width: 64%;
    height: 40px;
    margin: 0;
    z-index: 10;
    padding: 5px 15px;
    font-size: 15px;
    color: #ffffff;
    border-radius: 50px;
}
.sb-search-submit {
    background: url('../../images/search.png') no-repeat -6px 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
    -webkit-appearance: none;
}
.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
    background: url('../images/search.png') no-repeat 3px 10px;
    color: #fff;
    z-index: 11;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 72%;
}
.sb-search-input::-webkit-input-placeholder {
    color: #ffffff;
}
.sb-search-input:-moz-placeholder {
    color: #ffffff;
}
.sb-search-input::-moz-placeholder {
    color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
    color: #ffffff;
}
input[type="button"], input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

body {
    font-family: 'Open Sans','Microsoft YaHei', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #646464;
}
p {
    color: #757575;
}
h4.modal-title {
    color: #fff;
}
